<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="head_section">
              <h2 class="heading text-center">Courses Offered</h2>
            </div>
                                      <div class="course-outer row">
                                            <div class="course-inner clearfix col-md-4">
                    <div class="course-detail-box text-center">
                                                          <h4>BICTE</h4>
                      <a href="https://www.mdc.edu.np/programs/bicte/" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                                            <div class="course-inner clearfix col-md-4">
                    <div class="course-detail-box text-center">
                                                          <h4>MBS</h4>
                      <a href="https://www.mdc.edu.np/programs/mbs/" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                                            <div class="course-inner clearfix col-md-4">
                    <div class="course-detail-box text-center">
                                                          <h4>BBA</h4>
                      <a href="https://www.mdc.edu.np/programs/bbamanagement4-years/" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                                            <div class="course-inner clearfix col-md-4">
                    <div class="course-detail-box text-center">
                                                          <h4>BBS</h4>
                      <a href="https://www.mdc.edu.np/programs/bbs/" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                                            <div class="course-inner clearfix col-md-4">
                    <div class="course-detail-box text-center">
                                                          <h4>B.ED.</h4>
                      <a href="https://www.mdc.edu.np/programs/bed/" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                                            <div class="course-inner clearfix col-md-4">
                    <div class="course-detail-box text-center">
                                                          <h4>B.A.</h4>
                      <a href="https://www.mdc.edu.np/programs/ba/" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                                        </div>
                                  </div>
    </div>
</div>