
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
                <div class="footer-inner">
            <h3>About Us</h3>
            <p>MDC is a non-profit making community college. Since its establishment in 2060 B.S., it has been a leading college in this area. Since there is not even a single constituent college of T.U. in this district, it has been providing...</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-inner">
            <h3>Quick Links</h3>
            <ul id="menu-footer-menu" class="custom-list"><li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210 "><a href="https://www.mdc.edu.np/about/about-institution/" class="nav-link">About</a></li>
  <li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211 "><a href="https://www.mdc.edu.np/contact/" class="nav-link">Contact</a></li>
  <li id="menu-item-207" class="menu-item menu-item-type-post_type menu-item-object-programs menu-item-207 "><a href="https://www.mdc.edu.np/programs/scholarship/" class="nav-link">Scholarship Scheme</a></li>
  <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-213 "><a href="https://www.mdc.edu.np/staff/faculty-members/" class="nav-link">Faculty Members</a>
  <ul class="sub-menu">
      <li id="menu-item-496" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-496 "><a href="http://sms.sutrait.com.np/" class="nav-link">SMS Login</a></li>
  </ul>
  </li>
  </ul>        </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-inner">
            <h3>Contact Us</h3>
            <ul>
              <li><i class="fas fa-home"></i> Sunwal-4, Nawalparasi, Nepal</li>
              <li><i class="fas fa-phone"></i> +977 078-570049, 9857046049</li>
              <li><i class="fas fa-fax"></i> +977 078-570049</li>
              <li><i class="fas fa-envelope"></i> <a href="mailto:mdcampus60@gmail.com">mdcampus60@gmail.com</a></li>
            </ul>
            <ul class="social">
              <li> <a href="https://www.facebook.com/mdcampus60" title="facebook" target="_blank" class="fab fa-facebook-f"></a></li>
              <li> <a href="#" title="twitter" target="_blank" class="fab fa-twitter"></a></li>
              <li> <a href="#" title="Youtube" target="_blank" class="fab fa-youtube"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <p>&copy; 2024 Mahakavi Devkota Campus. All rights reserved | Design & Developed By: <a target="_blank" href="http://sutrait.com.np">Sutra IT Consult Pvt. Ltd.</a> </p>
      </div>
    </div>
  