
<div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        <a href="https://www.mdc.edu.np/" class="custom-logo-link" rel="home" aria-current="page"><img src="https://ncit.edu.np/images/logo.png" alt="" title="NCIT"></a>              </div>
        <div class="col-sm-6 d-none d-sm-block">
          <div class="social-contact">
            <ul>
              <li><i class="fas fa-phone-volume"></i>+977 078-570049, 9857046049</li>
              <li><i class="fas fa-envelope"></i><a href="mailto:mdcampus60@gmail.com">mdcampus60@gmail.com</a></li>
            </ul>
            <ul class="social">
              <li> <a href="#" target="_blank" title="Facebook"> <i class="fab fa-facebook-f"></i></a></li>
              <li> <a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li> <a href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>