<div class="col-lg-4">
    <h3 class="sub-heading">Useful Links</h3>
    <ul class="useful-links">
      <li><a href="http://tu.edu.np" target="_blank"><i class="fas fa-chevron-right"></i> Tribhuvan University</a></li>
      <li><a href="http://fwu.edu.np" target="_blank"><i class="fas fa-chevron-right"></i> Far-Western University</a></li>
      <li><a href="http://purbuniv.edu.np/" target="_blank"><i class="fas fa-chevron-right"></i> Purbanchal University</a></li>
      <li><a href="http://pu.edu.np" target="_blank"><i class="fas fa-chevron-right"></i> Pokhara University</a></li>
      <li><a href="http://ku.edu.np" target="_blank"><i class="fas fa-chevron-right"></i> Kathmandu University</a></li>
      <li><a href="http://lbu.edu.np" target="_blank"><i class="fas fa-chevron-right"></i> Lumbini Buddhist University</a></li>
      <li><a href="http://www.psc.gov.np/" target="_blank"><i class="fas fa-chevron-right"></i> Lok Sewa Aayog</a></li>
      <li><a href="http://www.nepal.gov.np/" target="_blank"><i class="fas fa-chevron-right"></i> Nepal Government</a></li>
      <li><a href="http://www.tsc.gov.np/" target="_blank"><i class="fas fa-chevron-right"></i> Teachers Service Commission</a></li>
      <li><a href="http://www.nrb.org.np/" target="_blank"><i class="fas fa-chevron-right"></i> Nepal Rastra Bank </a></li>
      <li><a href="http://www.rbb.com.np/" target="_blank"><i class="fas fa-chevron-right"></i> Rastriya Banijya Bank</a></li>
      <li><a href="http://www.nepalbank.com.np/" target="_blank"><i class="fas fa-chevron-right"></i> Nepal Bank Limited</a></li>
      <li><a href="http://www.hseb.edu.np" target="_blank"><i class="fas fa-chevron-right"></i> Higher Secondary Education Board</a></li>
    </ul>
  </div>
</div>
</div>