{% extends "base.html" %}
{%block content%}
      <main>
<div class="breadcrumb-wrapper">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 text-white">
                  <h2>{{gallary.name}}</h2>
                </div>
        <div class="col-md-6">
        <ol class="breadcrumb justify-content-md-end bg-transparent">
        <li class="breadcrumb-item">
            <a class="fas fa-home" href="https://www.mdc.edu.np/"></a>
        </li>
         
                        
                          <li class="breadcrumb-item">{{gallary.name}}</li>
                </ol>
        </div>
    </div>
    </div>
</div>




<section class="gallery">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="row">
            {%for image in images%}
            <div class="col-lg-4">
                <figure>
                    <a href="#" data-lightbox="Participation of International Conference Organized By Lumbini Banjiya Campus &#8211; Jan, 2023" data-title="Participation of International Conference Organized By Lumbini Banjiya Campus &#8211; Jan, 2023">
                        <img src="{{image.pic.url}}" alt="">
                    </a>
                </figure>
            </div>
                            {%endfor%}
                       </div>
                        </div>
        </div>
    </div>
    </div>
    </section> 
    <div class="container center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="formFile" class="form-label">Upload Files Here</label>
              <input class="form-control" type="file" id="formFile" name="images" multiple>
            </div>
            <button type="submit" class="btn btn-outline-primary ">Submit</button>
        </form>
    </div>
    
</main>
{%endblock content%}